
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.name}}</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>
  {{> global/header}}
  <div class="content">
  {{#block "content"}}
  {{/block}}
  </div>
  {{> global/footer}}
</html>
